<div class="horizontal-panel flex flex-col border-black">
  <div class="px-5">
    <p class="text-md font-bold">Bio</p>
    <p class="text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odi.
    </p>
  </div>
</div>