<div class="horizontal-panel space-y flex flex-col border-black">
  <div class="flex flex-col px-5">
   <% comments.each do |comment| %>
    <p class="text-lg">
      Username: <%= comment.text %>
    </p>
    <% end %>
  </div>
</div>
