<div class="horizontal-panel space-y flex flex-col border-black">
  <div class="flex flex-col px-5">
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <div class="flex items-center">
          <p class="text-lg font-bold mr-5">
            <%= comment.commenter || "Anoymous User" %> : 
          </p>
          <p class="text-sm">
            <%= comment.text %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>No Comment</p>
    <% end %>
  </div>
</div>
