<% (1..3).each_with_index do |index| %>
  <div class="horizontal-panel flex flex-col border-black">
    <div class="px-5">
      <p class="text-md font-bold">Post #<%= index %></p>
      <p class="text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia...
      </p>
    </div>
    <div class="px-5 flex justify-end -mt-30">
      <p class="text-sm">Comments: x, Likes: y</p>
    </div>
  </div>
<% end %>
<button class="button border-black text-md">See all posts</button>