<div class="horizontal-panel flex flex-col border-black">
  <div class="px-5">
    <p class="text-md font-bold">Post #<%= post.id %></p>
    <p class="text-lg">
      <%= link_to post.title, user_post_path(post.author_id, post) %>
    </p>
  </div>
  <div class="px-5 flex justify-end -mt-30">
    <p class="text-sm">Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></p>
  </div>
</div>
