<div class="horizontal-panel flex flex-col border-black">
  <div class="px-5">
    <div class="flex items-center space-between">
      <p class="text-md font-bold">Post #<%= post.id %> by username <%= post.author_id %></p>
      <p class="text-sm font-bold">Comments: x, Likes: y</p>
    </div>
    <p class="text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
      optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
      obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
      nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
      tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
      quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
      sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
      recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
      <br />
      <br />
      Quaerat provident commodi consectetur veniam similique ad 
      earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
      fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
      suscipit
    </p>
  </div>
</div>

<%# post comments %>
<%= render partial: "partials/commentCard", locals: { items: 10 } %>