<p class="card-title w-auto"><%= link_to "Add new post", new_user_post_path(@current_user) %></p>

<% @users.each do |user| %>
  <%= render partial: "partials/userCard",  locals: { user: user } %>
<% end %>
